@font-face {
  font-family: 'icons';
  src: url('../fonts/icons.ttf') format('truetype');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e900";
  color: #4f4f4d;
}
.icon-close:before {
  content: "\e901";
  color: #4f4f4d;
}
.icon-fb:before {
  content: "\e902";
  color: #4f4f4d;
}
.icon-ig:before {
  content: "\e903";
  color: #4f4f4d;
}
.icon-minus:before {
  content: "\e904";
  color: #4f4f4d;
}
.icon-plus:before {
  content: "\e905";
  color: #4f4f4d;
}
.icon-tick:before {
  content: "\e906";
  color: #4f4f4d;
}
