@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

#body {
	margin: 0;
}

body {
	font-family: 'Poppins', sans-serif;
}

a,
a:hover {
	text-decoration: none !important;
	color: initial;
}

.h-100vh {
	height: 100vh;
}

.commission-form-field label {
	font-size: 12px;
}

.header__title--img {
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 15px;
	background: #fbf5ec;
}

.header__title--img img {
	width: 100%;
}

.header__content {
	display: flex;
	justify-content: space-between;
	padding: 20px 20px 0;
	align-items: center;
}

ul {
	list-style: none;
	padding: 0;
	display: flex;
	min-width: 100px;
	justify-content: space-around;
	margin: 0;
}

.header__title {
	font-size: 20px;
	font-weight: 600;
	display: flex;
	align-items: center;
	text-transform: uppercase;
}

.app {
	display: flex;
}

.app__sidebar {
	width: 260px;
	height: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.app__content {
	padding: 20px;
	height: 100%;
	overflow: auto;
}

.app__content--box {
	height: 100%;
	background-color: #F6F8FA;
	padding: 20px;
	border-radius: 15px;
	overflow: auto;
}

.sidebar__app {
	margin-bottom: 30px;
}

.sidebar__app--logo {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #1a73e8;
	font-size: 17px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.5s ease;
	color: #fff;
	margin-right: 10px;
}

.sidebar__app--name {
	font-weight: 800;
}

.sidebar__bottom--image {
	min-width: 40px;
	min-height: 40px;
	overflow: hidden;
	background: #f0f0f4;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	margin-right: 10px;
}

.sidebar__bottom--image img {
	width: 100%;
}

.sidebar__bottom {
	margin-top: auto;
}

.sidebar__bottom--avatar {
	border-top: 1px solid #ddd;
	padding-top: 20px;
	margin-top: 20px;
	display: flex;
	align-items: center;
}

.sidebar__bottom--name .name {
	font-size: 12px;
	font-weight: 700;
}

.sidebar__bottom--name .position {
	font-size: 10px;
	color: #A1A1A1;
	font-weight: 600;
}

.sidebar__menu {
	padding: 20px 0;
}

.sidebar__menu a {
	padding: 10px 20px;
	font-size: 10px;
	color: #A1A1A1;
	font-weight: 600;
	margin-bottom: 5px;
}

.sidebar__menu a.active,
.sidebar__menu a:hover.active {
	background: #1a73e8;
	color: #fff;
	border-radius: 5px;
}

.sidebar__menu a:hover {
	background-color: #eaeaea;
	border-radius: 5px;
	color: #A1A1A1;
}

.sidebar__menu a:last-child {
	margin-bottom: 0;
}

.sidebar__menu a i {
	margin-right: 10px;
	font-size: 12px;
}

.result__title,
.commission-form-title {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 10px;
}

#employee-table thead th {
	font-weight: 600;
	text-align: center;
}

#employee-table tbody td {
	text-align: center;
}

.commission-form-field.field-position::before {
	content: "Position:";
	font-size: 12px;
}

.commission-form-field.field-kpis::before {
	content: "KPI's:";
	font-size: 12px;
}

.commission-form-field.field-seniority::before {
	content: "Seniority:";
	font-size: 12px;
}

.result {
	margin-bottom: 40px;
}

.result__wrap {
	display: flex;
	justify-content: space-between;
	gap: 3%;
	padding: 20px;
	background: #fff;
	border-radius: 20px;
}

.result__wrap--title {
	font-size: 12px;
	font-weight: 600;
	color: #A1A1A1;
  }

.result__wrap--box {
	width: 25%;
	min-height: 120px;
	border: 1px solid #eee;
	border-radius: 10px;
	padding: 15px;
	display: grid;
}

.result__wrap--amount {
	font-size: 30px;
	font-weight: 700;
	color: #333;
}

.result__wrap--logo {
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #E7F3FF;
	border-radius: 5px;
	color: #0A83F0;
	margin-bottom: 20px;
}

.commission-table {
	padding: 5px 0 25px;
	border-radius: 20px;
	background-color: #fff;
	margin: 30px 0;
}