@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

#body {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.header__title--img {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 15px;
    background: #fbf5ec;
}

.header__title--img img {
    width: 100%;
}

.header__content {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    min-width: 100px;
    justify-content: space-around;
    margin: 0;
}

.header__title {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.page-title {
    font-size: 40px;
    font-weight: 700;
    margin-top: 0;
}

.miniapps__box--links {
    text-decoration: none;
    color: #000;
    display: block;
}

.miniapps__list {
    display: flex;
    padding: 20px 0;
}

.miniapps__box {
    width: 25%;
    padding: 20px;
    position: relative;
}

.miniapps__box--logo {
    width: 70px;
    border-radius: 50%;
    background: #DFDFE3;
    font-size: 40px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    color: #939393;
}

.miniapps__box--icon {
    margin-bottom: 50px;
}

.miniapps__box--title {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #000;
    transition: 0.3s all ease;
}

.miniapps__container {
    padding: 30px;
    background-color: #F0F0F4;
    border-radius: 15px;
}

.miniapps__box--text {
    font-size: 13px;
    line-height: 160%;
    color: #9f9f9f;
    transition: 0.3s all ease;
}

.miniapps {
    padding: 20px;
}

.miniapps__box:hover {
    background-color: #fff;
    border-radius: 15px;
}

.miniapps__box:hover .miniapps__box--logo {
    background: #1a73e8;
    color: #fff;
    font-size: 45px;
}

.miniapps__box:hover .miniapps__box--title {
    color: #1a73e8;
}

.miniapps__box:hover .miniapps__box--text {
    color: #000;
}

.miniapps__box--label {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0 10px;
    background: #939393;
    border-radius: 5px;
    color: #fff;
    transition: all 0.5s ease;
    font-weight: 300;
}

.miniapps__box:hover .miniapps__box--label {
    background: #1a73e8;
}

@media screen and (max-width: 767px) {
    .miniapps__list {
        display: block;
        width: 100%;
    }

    .miniapps__box {
        width: auto;
        margin-bottom: 40px;
        background-color: #fff;
        border-radius: 15px;
    }

    .miniapps__box .miniapps__box--logo {
        background: #1a73e8;
        color: #fff;
    }

    .header__back {
        display: none;
    }

    .header__content {
        flex-direction: column;
    }

    .header__title {
        font-size: 16px;
        margin-bottom: 20px;
    }
}