/*FONT OUTFIT*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.outfit {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.outfit-100 {
    font-weight: 100;
}
.outfit-200 {
    font-weight: 200;
}
.outfit-300 {
    font-weight: 300;
}
.outfit-400 {
    font-weight: 400;
}
.outfit-500 {
    font-weight: 500;
}
.outfit-600 {
    font-weight: 600;
}
.outfit-700 {
    font-weight: 700;
}
.outfit-800 {
    font-weight: 800;
}
.outfit-900 {
    font-weight: 900;
}

/*COLOR VARIABLE*/
:root {
    --dark-primary: #191a1b;
    --dark-secondary: #2f2f2f;
    --dark-title: #434343;
}

/* -------- WEBSITE -------- */
/*General*/
#body {
	background: var(--dark-primary);
    color: #fff;
}
li {
    list-style: none;
}
li a {
    text-decoration: none;
}
.bg-dark-primary {
    background-color: var(--dark-primary) !important;
}
.bg-dark-secondary {
    background-color: var(--dark-secondary) !important;
}
@keyframes swing {
    0% { transform: rotate(-3deg); }
    50% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}
.swing {
    animation: swing 2.5s ease-in-out infinite;
}

@keyframes tab-animation {
    0% { 
        opacity: 0;
        bottom: -20px;
    }
    100% {
        opacity: 1; 
        bottom: 0px;
    }

}
.tab-animation {
    animation: tab-animation 1.5s cubic-bezier(.22,.61,.36,1);
    position: relative;
}

#home h1.main-title {
    opacity: 0;
    top: 10px;
}
#home h1.main-title.fade-in {
    opacity: 1;
    top: 0px;
    transition: all 1s ease-in-out 1s; 
}

#mainSubTitle,
#mainText,
#mainSocial {
    opacity: 0;
    position: relative;
    top: 10px;
}
#mainSubTitle.fade-in,
#mainText.fade-in,
#mainSocial.fade-in {
    opacity: 1;
    top: 0px;
    transition: all 1s ease-in-out; 
}
#mainSubTitle.fade-in {
    transition-delay: 1.7s;
}
#mainText.fade-in {
    transition-delay: 2s;
}
#mainSocial.fade-in {
    transition-delay: 2.7s;
}

/*Button*/
.booking-btn {
    color: #fff;
    border: 2px solid #fff;
    padding: 7px 5px;
    font-size: 25px;
    transition: all ease-in-out .2s;
}
.booking-btn:hover,
.booking-btn:active,
.booking-btn:focus {
    color: var(--dark-primary);
    background: #fff;
}
.booking-btn.booking-btn-mobile {
	background-color: #fff;
	color: var(--dark-primary);
}

/* Header */
header {
	height: 86px;
	box-shadow: rgba(0, 0, 0, 0.53) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
header .container-fluid {
    --bs-gutter-x: 2.5rem;
}
header .navbar-brand span {
	font-size: 30px;
}
header .navbar-brand img {
    max-width: 60px;
}
header ul {
    margin-bottom: 0;
    padding-left: 0;
}
header ul li a {
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 500;
    padding: 0 10px;
    position: relative;
}
header ul li a:hover {
    color: #fff;
}
header ul li.header-link a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
    bottom: -10px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
header ul li.header-link a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}
.menu-btn .fa-solid {
	font-size: 30px;
	color: #fff;
}
.menu-responsive ul {
	text-align: center;
	height: 100%;
	padding: 20px;
    overflow: auto;
    flex-direction: column;
}
header .hide-desktop .btn-close {
	color: #fff;
}
header .offcanvas-header {
	justify-content: end;
}
.menu-responsive .offcanvas ul li a {
    font-size: 45px;
    font-weight: 800;
}
.menu-responsive .offcanvas ul li {
    transition: all ease-in-out .7s;
    padding: 0;
}
.menu-responsive .offcanvas.show ul li,
.menu-responsive .offcanvas.showing ul li {
    padding: 20px 0;
}
.offcanvas-logo-box img {
    max-width: 100px;
}
.offcanvas-backdrop {
    display: none !important;
}

/* Main section */
#home {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
#home h1 {
	font-size: 200px;
	text-align: center;
	margin-bottom: 0;
	padding-top: 30px;
	position: absolute;
	width: 100%;
	z-index: 2;
}
.home-carousel {
    max-width: 60%;
    height: 100%;
    padding-top: 160px;
}
.panety-content .container-fluid {
    padding-left: 0;
    padding-right: 0;
}
#homeCarousel .carousel-inner {
    max-height: 600px;
    height: 600px;
}
#homeCarousel .carousel-inner .carousel-item img {
    width: auto;
    height: 140%;
    transition: height linear 10s;
}
#homeCarousel .carousel-inner .carousel-item.active img {
    width: auto;
    height: 120%;
}
#homeCarousel .carousel-inner .carousel-item {
    pointer-events: none;
    height: 100%;
}
#homeCarousel .carousel-inner .carousel-item .carousel-img {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
}
.about-us {
    position: absolute;
    right: 80px;
    z-index: 1;
    width: 800px;
    padding-top: 100px;
}
.main-subtitle {
    font-size: 100px;
    margin: 0;
    text-align: right;
}
.about-us-content {
    padding: 20px;
    background: var(--dark-primary);
}
.about-us-content p {
	font-size: 25px;
	margin: 0;
	font-weight: 300;
}
.about-us-social-media {
    padding: 20px 0 0;
    position: relative;
    top: 50px;
}
.about-us-social-media ul {
    padding: 0;
    justify-content: end;
    gap: 30px;
    margin: 0;
}
.about-us-social-media ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}
.about-us-social-media ul li .fa-brands {
    font-size: 40px;
}
.about-us-social-media ul li span {
    margin-top: 10px;
    font-size: 12px;
    opacity: 0;
    transition: all ease 0.3s;
    position: relative;
    bottom: 5px;
}
.about-us-social-media ul li a:hover span {
    opacity: 1;
    bottom: 0;
}
#mainSocial li {
	width: 65px;
}

/*Contact section*/
.contact-map {
	width: 70%;
	margin: auto;
}
.contact-map iframe {
    padding: 20px;
    border: 2px solid #fff !important;
}
.contact-link.contact-tel {
	position: absolute;
	left: -55px;
	transform: rotate(270deg);
	text-align: center;
	width: 24px;
	white-space: nowrap;
	bottom: 60px;
}
.contact-link.contact-address,
.contact-link.contact-email {
	text-align: right;
}
.page-section {
    padding: 60px;
}
.page-section .section-title {
	font-size: 160px;
	text-transform: uppercase;
	color: var(--dark-title);
	margin: 0 0 30px;
	line-height: normal;
}
.contact-link {
    padding: 10px 0;
}
.contact-link a {
    text-decoration: none;
    color: #fff;
    font-size: 42px;
    font-weight: 800;
}
.contact-link a:hover {
	color: var(--dark-title);
}

/*Horaires section*/
.horaires-box #tabs {
	display: flex;
	justify-content: space-between;
}
.horaires-box button {
	border: 2px solid var(--dark-title);
	background: transparent;
	width: 150px;
	height: 200px;
	color: var(--dark-title);
	font-size: 80px;
	font-weight: 900;
	transition: all ease-in-out .1s;
}
.horaires-box button.active,
.horaires-box button:hover {
	background: var(--dark-primary);
	border-color: #fff;
	color: #fff;
}
.horaires-box .tab-content {
	display: none;
}
.horaires-box .tab-content.today {
	display: block;
}
.horaires-box button.today {
	background: var(--dark-primary);
    border-image-source: linear-gradient(to left, #F9423A, #00843D);
    border-image-slice: 1;
    border-width: 2px;
    position: relative;
}
.horaires-box button.today::before {
    content: "Aujourd'hui";
    font-size: 12px;
    font-weight: 200;
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    left: 0;
    top: 25px;
    text-align: center;
}
.horaires-box .tab-content .tab-content-text {
	height: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 30px;
}
.horaires-box .tab-content .tab-content-text span {
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 10px;
    font-weight: 100;
    margin-bottom: 0;
}
.horaires-box .tab-content .tab-content-text p {
    font-size: 60px;
    font-weight: 900;
    margin: 0;
    letter-spacing: 5px;
}
.horaires-box .tab-content .tab-content-text img {
	width: 160px;
	margin-top: 30px;
}
.horaires-box button span {
    position: absolute;
    bottom: 25px;
    font-size: 12px;
    font-weight: 100;
    width: 100%;
    left: 0;
    color: transparent;
}
.horaires-box button:hover span,
.horaires-box button.active span {
    color: #fff;
}
.openning-days {
    margin-bottom: 50px;
}
.openning-days h3 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 40px;
    margin: 0 0 5px;
}
.openning-days p {
    margin: 0;
    font-size: 42px;
    font-weight: 100;
}

/*Price section*/
.price-box-content {
    width: 50%;
    padding: 60px 60px 0;
}
.price-box-content ul {
    padding: 0;
    margin: 0;
}
.price-box-content ul li {
    margin-bottom: 80px;
}
.prestation-price {
    margin: 0;
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.prestation-price .prestation {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;
    width: 100%;
    display: flex;
    align-items: end;
    white-space: nowrap;
    position: relative;
}
.prestation-price .price {
    font-size: 40px;
    font-weight: 900;
}
.prestation-price .prestation::after {
    content: "";
    width: 100%;
    height: 1px;
    background: #fff;
    margin: 0 10px;
}
.prestation.child-prestation::before {
    content: "Enfant";
    position: absolute;
    top: -25px;
    font-weight: 100;
    font-size: 14px;
}
.prestation-time {
    margin-top: 15px;
    display: block;
    color: var(--dark-title);
    font-size: 20px;
}

/*Footer section*/
.footer-logo img {
    max-width: 80px;
}
.footer-content {
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-logo h4 {
    font-size: 30px;
    padding: 0 10px;
    margin: 0;
}
.footer-content p {
    font-size: 18px;
    margin: 0;
    font-weight: 100;
}
.footer-credits p a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    transition: font-weight ease 0.2s;
}
.footer-credits p a:hover {
    font-weight: 700;
}

/*Reveal animation*/
.horaires-box .hide-desktop-767,
.contact-box,
.price-box {
	opacity: 0;
	transition: all linear .5s;
	bottom: -20px;
	position: relative;
}
.horaires-box .hide-desktop-767.reveal,
.contact-box.reveal,
.price-box.reveal {
    opacity: 1;
    bottom: 0px;
}

/*Responsive*/
@media screen and (max-width: 1470px) {
    #home h1 {
        font-size: 160px;
    }
    .main-subtitle {
        font-size: 90px;
    }
    .home-carousel {
        max-width: 60%;
        height: 100%;
        padding-top: 130px;
    }
    .about-us {
        width: 700px;
        padding-top: 200px;
    }
    .about-us-content p {
        font-size: 20px;
    }
    .page-section {
        padding: 20px 60px;
    }
    .horaires-box .tab-content .tab-content-text {
        height: 300px;
        margin-top: 0;
    }
    .about-us-social-media ul {
        gap: 30px;
    }
}
@media screen and (max-width: 1200px) {
    .page-section .section-title {
        font-size: 120px;
    }
    .contact-link a {
        font-size: 35px;
    }
    .contact-map {
        width: 80%;
    }
    .home-carousel {
        max-width: 70%;
        padding-top: 140px;
    }
    .horaires-box button {
        width: 100px;
        height: 130px;
        font-size: 50px;
    }
    .price-box {
        flex-direction: column;
        margin-top: 60px;
    }
    .price-box .price-box-content {
        width: 100%;
        padding: 0 20px;
    }
    .main-subtitle {
        font-size: 70px;
    }
    .about-us {
        width: 600px;
        right: 60px;
        padding-top: 40px;
    }
    .horaires-box button span,
    .horaires-box button::before {
        top: 15px !important;
        font-size: 10px !important;
    }
    .horaires-box #tabs {
        margin-top: 60px;
    }
    .horaires-box .tab-content .tab-content-text {
        height: 300px;
    }
    .about-us-social-media {
        top: 30px;
    }
}

@media screen and (max-width: 1024px) {
    #home {
        justify-content: inherit;
        height: auto !important;
    }
    .home-carousel {
        max-width: 90%;
        margin: 0 auto;
        padding: 140px 0;
    }
    .about-us {
        width: 100%;
        right: 0;
        padding-top: 0;
        bottom: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .about-us-content {
        text-align: center;
        width: max-content;
    }
    .main-subtitle {
        text-align: center;
    }
    #homeCarousel .carousel-inner .carousel-item {
        height: 600px;
        overflow: hidden;
    }
    .about-us-social-media {
        top: 0;
    }
}

@media screen and (max-width: 991px) {
    body .hide-mobile {
        display: none !important;
    }
    body .hide-desktop {
        display: block !important;
    }
    #home h1 {
        font-size: 140px;
    }
    .contact-map {
        width: 90%;
    }
    #homeCarousel .carousel-inner {
        max-height: 500px;
    }
    .home-carousel {
        padding: 110px 0;
    }
    .horaires-box button {
        width: 80px;
        height: 110px;
        font-size: 40px;
    }
    .footer-content {
        flex-direction: column;
        padding: 40px;
    }
    .footer-credits {
        padding: 40px 0;
    }
    .footer-logo {
        flex-direction: column;
    }
    .footer-logo img {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 767px) {
    body .hide-mobile-767 {
        display: none !important;
    }
    body .hide-desktop-767 {
        display: block !important;
    }
    #home h1 {
        font-size: 120px;
    }
    .page-section {
        padding: 60px 30px;
    }
    .page-section .section-title {
        font-size: 100px;
    }
    .contact-map iframe {
        height: 400px;
    }
    .contact-link a {
        font-size: 30px;
    }
    .contact-map {
        width: 85%;
    }
    .contact-link.contact-tel {
        left: -40px;
    }
    #homeCarousel .carousel-inner {
        height: 520px;
    }
    .about-us-content p {
        font-size: 18px;
    }
}

@media screen and (max-width: 640px) {
    #home h1 {
        font-size: 100px;
    }
    .page-section {
        padding: 30px;
    }
    .page-section .section-title {
        font-size: 80px;
    }
    .contact-link a {
        font-size: 25px;
    }
    .home-carousel {
        padding-top: 100px;
    }
    .about-us-content p {
        font-size: 16px;
    }
    .main-subtitle {
        font-size: 60px;
    }
}

@media screen and (max-width: 520px) {
    #home h1 {
        font-size: 80px;
    }
    .page-section {
        padding: 20px;
    }
    .page-section .section-title {
        font-size: 60px;
    }
    .home-carousel {
        padding-top: 90px;
    }
    .openning-days {
        margin-bottom: 30px;
    }
    .openning-days h3 {
        font-size: 30px;
        margin: 0 0 5px;
    }
    .openning-days p {
        font-size: 32px;
    }
    .prestation-price .prestation {
        font-size: 16px;
    }
    .prestation-time {
        font-size: 14px;
    }
    .prestation.child-prestation::before {
        font-size: 12px;
    }
    .prestation-price .price {
        font-size: 25px;
    }
    .price-box-content ul li {
        margin-bottom: 40px;
    }
    .contact-link a {
        font-size: 18px;
    }
    .contact-map {
        width: 100%;
    }
    .contact-map iframe {
        height: 480px;
        margin: 10px 0;
        padding: 10px;
    }
    .about-us-content {
        width: 100%;
    }
    .contact-map .d-flex {
        display: initial !important;
    }
    .contact-link.contact-tel {
        position: initial;
        transform: none;
        width: 100%;
        text-align: left;
        margin-bottom: 10px;
    }
    .contact-link.contact-address {
        text-align: left;
    }
    .contact-box {
        margin-bottom: 10px;
    }
    .about-us-social-media ul li .fa-brands {
        font-size: 30px;
    }
}

@media screen and (max-width: 485px) {
    .about-us-content p br {
        display: none;
    }
}

@media screen and (max-width: 420px) {
    #home h1 {
        font-size: 60px;
    }
    header {
        height: 70px;
    }
    header .navbar-brand img {
        max-width: 40px;
    }
    header .navbar-brand span {
        font-size: 20px;
    }
    .page-section .section-title {
        font-size: 50px;
    }
    .home-carousel {
        padding-top: 70px;
    }
    .menu-responsive .offcanvas ul li a {
        font-size: 30px;
    }
    .offcanvas-logo-box img {
        max-width: 80px;
    }
    .main-subtitle {
        font-size: 40px;
    }
    .about-us-content {
        padding: 10px 20px 20px;
    }
    .footer-content p {
        font-size: 14px;
    }
}

@media screen and (max-width: 370px) {
    .menu-responsive .offcanvas .booking-btn.booking-btn-mobile {
        font-size: 38px;
    }
}
