@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

:root {
    --color-dark-blue: #1B3C74;
    --color-blue: #2AA7FF;
    --color-red: #FF684C;
    --color-green: #4CD080;
    --color-yellow: #FFB200;
    --color-white: #fff;
    --color-grey: #A5AFC1;

    --font-dm-serif: 'DM Serif Display', serif;
}

#body {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

li {
	list-style: none;
}

.h-100vh {
    height: 100vh;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.text-center {
    text-align: center;
}

.btn {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    background: aliceblue;
    font-weight: 500;
    color: #5e5d5d;
    white-space: nowrap;
}

.btn-success {
    color: var(--color-white);
    background: var(--color-blue);
}

#header {
    justify-content: space-between;
    padding: 30px;
    align-items: center;
    position: sticky;
    top: 0;
    background: transparent;
    transition: all ease 0.3s;
}

.header__logo {
    min-width: 200px;
}

.header__menu {
    width: 100%;
}


.header__menu--list {
	padding: 0;
	justify-content: center;
	gap: 40px;

    a { 
        color: var(--color-grey);
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            color: var(--color-dark-blue);
            text-decoration: none;
        }
    }
}

