@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@font-face {
    font-family: 'gilroy-medium';
    src: url('/fonts/gilroy/Gilroy-Medium.ttf') format(‘truetype’)
}

:root {
    --color-dark-blue: #1B3C74;
    --color-blue: #2AA7FF;
    --color-red: #FF684C;
    --color-green: #4CD080;
    --color-yellow: #FFB200;
    --color-white: #fff;
    --color-grey: #A5AFC1;

    --font-dm-serif: 'DM Serif Display', serif;
    --font-gilroy-medium: 'gilroy-medium', sans-serif;
}

#body {
    margin: 0;
    font-family: var(--font-gilroy-medium);
}

li {
	list-style: none;
}

.h-100vh {
    height: 100vh;
}

.h-100 {
    height: 100%;
}

.btn {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    background: aliceblue;
    font-weight: 500;
    color: #5e5d5d;
    white-space: nowrap;
}

.btn.btn-success {
    color: var(--color-white);
    background: var(--color-blue);
    border-color: var(--color-blue);
}

.btn.btn-success:hover {
    background: var(--color-dark-blue);
    border-color: var(--color-dark-blue);
}

#header {
    justify-content: space-between;
    padding: 30px;
    align-items: center;
    top: 0;
    background: transparent;
    transition: all ease 0.3s;
}

.header__logo {
    min-width: 200px;
}

.header__menu {
    width: 100%;
}


.header__menu--list {
	padding: 0;
	justify-content: center;
	gap: 40px;
    margin: 0;
}

.header__menu--list  a { 
    color: var(--color-grey);
    text-decoration: none;

}

.header__menu--list  a:hover,
.header__menu--list  a:focus,
.header__menu--list  a:active {
    color: var(--color-dark-blue);
    text-decoration: none;
}

.home-section {
    background: rgb(219,254,252);
    background: linear-gradient(45deg, rgba(219,254,252,0.5018207966780462) 45%, rgba(254,238,205,0.5) 79%); 
}

.home-section__title {
    font-family: var(--font-dm-serif);
}

.home-section__title h1 {
	font-size: 60px;
	color: var(--color-dark-blue);
}

